@media screen and (max-width: 600px) {
  #content-heading {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 1rem;
  }

  span.MuiTypography-root.MuiTypography-gutterBottom {
    font-weight: 500;
    font-family: arial;
  }

  .MuiCardActions-root {
    flex-direction: row-reverse;
  }

  .MuiPaper-elevation1 {
    box-shadow: 1px 10px 15px 0px rgba(0, 0, 0, 0.75),
      0 6px 20px 0 rgb(174, 174, 174) !important;
  }

  div#buttons {
    margin-top: 5rem;
    margin-bottom: 5rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }

  .MuiButton-containedPrimary {
    color: #fff;
    width: 100%;
    background-color: #4e49f2;
  }
}
